@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #EFEFEF;
}

.none {
  display: none;
}
/*_product*/
.col-lg-3 {
  width: 20%;
  position: center;
  left: 8%;

  .btn {
    margin-left: 7%;
  }
}
/*all pages*/
ul.nav li a:hover {
  color: #fff !important;
  background: #999999 !important;
}

.footer {
  position: absolute;
  height: 100px;
  bottom: -200px;
  right: 0;
  width: 100vw;

  .copyrights {
    margin-top: 25px;
  }

  .bg-lightgray {
    background-color: LightGray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
  }
}

/*products.index / categories.show*/
  .title {
    padding-left: 10px;
    margin-top: 0;
    margin-left: 15%;
  }
.categories {
  margin-top: 0;
  float: left;
  width: 15%;
  height: 100vh;
  border-right: 1px solid #DADADA;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .category {
    border: 1px solid seashell;
    background: seashell;

    a {
      display:block;
      text-decoration: none;
    }
  }

  .category a:hover {
    color: #2E2F30 !important;
  }

  .category:hover {
    background: #DADADA;
  }

  h3 {
    margin-top: 0;
  }
}

@media (min-width: 0px) and (max-width: 320px){
  .categories {
    display: block;
  }
}

.pagination {
  margin-top: 40vh;
  height: 100px;
  text-align: center;
  float: none;
}
/*registration and login*/
.container {
  width: 30%;
  position: absolute;
  right: 35%;
  left: 35%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

/* all forms*/
.form-control {
  width: 80%;
  margin-left: 10%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 5px;
  @include box-sizing(border-box);
}

.user_action {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* sessions.login*/
.form-signin-heading {
  margin-left: 30px;
  margin-bottom: 30px;
}

.login_field label {
  margin-left: 10%;
}

/* user.show*/
.avatar {
  float: left;
}

.avatar img {
  width: 200px;
  height: 300px;
}

.edit_user {
  width: 30%;
  position: absolute;
  right: 35%;
  left: 35%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  h3, label {
    position: relative;
    left: 10%;
    width: 60%;
    right: 10%;
  }
}

.orders {
  position: absolute;
  margin-left: 15%;
}

form {
  z-index: 1;
}

/* products.show_cart*/
.cart {
  width: 40%;
  margin-left: 30%;

  h1 {
    margin-left: 35%;
  }

  input {
    width: 30px;
  }

  .btn {
    margin-left: 30%;
    width: 25%;
  }

  .products {
    position: absolute;
    width: 100vw;
    left: 0;

    .col-lg-3 {
      position: relative;
      left: 0;

      .btn {
        width: 50%;
        margin-left: 7%;
      }
    }
  }
}