@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #EFEFEF;
}

.none {
  display: none;
}
/*_product*/
.col-lg-3 {
  width: 20%;
  position: center;
  left: 8%;
}
/*all pages*/
ul.nav li a:hover {
  color: #fff !important;
  background: #999999 !important;
}

/*products.index*/
.categories {
  float: left;
  width: 10%;
  height: 100vh;
}

@media (min-width: 0px) and (max-width: 320px){
  .categories {
    display: block;
  }
}

.pagination {
  margin-top: 40vh;
  height: 100px;
  text-align: center;
  float: none;
}
/*registration and login*/
.container {
  width: 30%;
  position: absolute;
  right: 35%;
  left: 35%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

/* all forms*/
.form-control {
  width: 80%;
  margin-left: 10%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  @include box-sizing(border-box);
}

.user_action {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* sessions.login*/
.form-signin-heading {
  margin-left: 30px;
  margin-bottom: 30px;
}

.login_field label {
  margin-left: 10%;
}

/* user.show*/
.avatar {
  float: left;
}

.avatar img {
  width: 200px;
  height: 300px;
}

.edit_user {
  width: 30%;
  position: absolute;
  right: 35%;
  left: 35%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  h3, label {
    position: relative;
    left: 10%;
    width: 60%;
    right: 10%;
  }
}
