@import "bootstrap-sprockets";
@import "bootstrap";

.col-lg-3 {
  width: 20%;
  position: center;
  left: 8%;
}

.categories {
  float: left;
  width: 10%;
  height: 100vh;
}

@media (min-width: 0px) and (max-width: 320px){
  .categories {
    display: block;
  }
}

.pagination {
  margin-top: 40vh;
  height: 100px;
  text-align: center;
  float: none;
}