<div class="categories col-sm-2 col-md-2 col-lg-2">
  <h3>
    Категории:
  </h3>
  <%= render 'categories/categories' %>
  <br>
</div>
<h3 class="title">
  Категория <%= find_category(params[:id]) %>
</h3>
<% @products.each do |product| %>
  <%= render partial: 'products/product', locals: {product: find_products(product.product_id)} %>
<% end %>
