<footer class="container-fluid text-center bg-lightgray">
  <div class="copyrights">
    <p>Smila, Ukrain © 2018, All Rights Reserved
      <br>
      <span>Web Design By: Bohdan Obodovscky </span>
    </p>
    <p> 
      <%= link_to 'Linkedin' %>
    </p>
  </div>
</footer>