<div class="categories">
  <p>
    Категории:
  </p>
  <%= render 'categories/categories' %>
  <br>
</div>
<h3>
  Лучшие товары
</h3>
<%= render @products %>
<br>
<div class="pagination">
  <%= paginate @products %>
</div>