<h1>Cart</h1>
<% if @count_of_products == 0%>
  <p> Корзина пуста </p>
<% else %>
  <p>Количество товара в корзине <%= @count_of_products %> </p>
<% end %>
<% if cookies[:cart].present? %>
  <% @products_in_cart.each do |product| %>
    <%= product %>
  <% end %>
  <br>
  <% @prices_in_cart.each do |price| %>
    <%= price %>
  <% end %>
  <br>
  <p>Общая сумма корзины <%= @sum %></p>
<% end %>